<h1>{{title}}</h1>
<div id="saved-articles-list" class="row">
    {{#each articles}}
    <div class="col-12 col-md-6 col-lg-4">
        <article data-id="{{_id}}" 
            data-headline="{{headline}}"
            data-link="{{link}}"
            data-summary="{{summary}}"
            data-section="{{section}}"
            data-imgLink="{{imgLink}}"
            data-source="{{source}}">

            <div class="card mb-4">
                {{!-- only output the image if the link is not null --}}
                {{#if imgLink}}
                    <img src="{{imgLink}}" class="card-img-top" alt="{{headline}}">
                {{/if}}
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{headline}}</h5>
                    <span class="badge badge-info">{{source}}</span>
                    {{#if section}}
                        <span class="badge badge-danger">{{section}}</span>
                    {{/if}}
                    <p class="card-text">{{summary}}</p>
                    <a href="#" class="btn btn-primary mr-3">Remove</a>
                    <a href="{{link}}" target="_blank" class="">Go to the Article</a>
                </div>
            </div>
        </article>        
    </div>
    {{/each}}
</div>


<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">Hello User, Are you sure you want to delete this article?</div>
      <div class="modal-footer">
        <button type="button" id="delete-confirm" class="btn btn-primary btn-sm" data-dismiss="modal">OK</button>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
